<center>
  <img src="/morrigan.gif">
  <h1 id="title">Welcome to Channel Zero!</h1>
  <p><small><i>Thank you for choosing our image boards.</i></small></p>
  <script type="text/javascript">document.write('<form method="get" action="/dev"><input type="submit" value="Continue &rarr;">');</script>
  <noscript><a href="/dev">Continue &rarr;</a></noscript>

</center>
