<html>
<head>
  <title>Channel Zero <%= @title %></title>
</head>
<style>
  body { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
</style>
<body>
  <%= yield %>
</body>
</html>
